{% block _medicament_lesComposers_widget %}

    {{form_widget(form)}}
    
    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add_composant" class="btn btn-warning">+</button>
    </div>
{% endblock %}

{% block medicament_lesComposers_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _medicament_lesComposers_entry_widget %}
    <div class="form-group" id="block_{{id}}">
    <div class="row">
        <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.composant) }}
                        {{ form_errors(form.composant) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.quantite)}}
                        {{ form_errors(form.quantite)}}
                    </div>
                </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">X</button>
        </div>
    </div>
       
    </div>
    
{% endblock %}
