{% extends 'base.html.twig' %}

{% block title %}Liste des médicaments{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-5">Liste des médicaments</h1>
    <a href="{{path('medoc_add')}}"><div class="button btn btn-success float-right" type="button">Nouveau médicament</div></a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Nom commercial</th>
                <th scope="col" class="text-center">Prix échantillon</th>
                <th scope="col" class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr onclick="document.location='{{path('medoc_show', {'id':medicament.id})}}'">
                <th scope="row">{{medicament.id}}</th>
                <td class="text-center">{{medicament.NomCommercial}}</td>
                <td class="text-center">{{medicament.PrixEchantillon}}€</td>
                <td class="text-right"><a href="{{path('medoc_edit', {'id':medicament.id})}}"><button type="button" class="btn btn-warning"><i class="fas fa-pencil-alt"></i></button></a><a href="{{path('medoc_delete', {'id':medicament.id})}}"><button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block stylesheets %}
<style>td button { margin-left:5px; margin-right:5px; }</style>
{% endblock %}
