{% extends 'base.html.twig' %}

{% block title %}
    {{medicament.NomCommercial}}
{% endblock %}

{% block body %}
    <div class="container mt-2 pt-3">
        {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="col">
                <a href="{{path('medoc_edit', {'id':medicament.id})}}"><button class="btn btn-warning btn-block"><i class="fas fa-pencil-alt"></i> Edit</button></a><br/><br/>
            </div>
            <div class="col">
                <a href="{{path('medoc_delete', {'id':medicament.id})}}"><button class="btn btn-danger btn-block"><i class="fas fa-trash"></i> Delete</button></a>
            </div>
        </div>
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{path('home_index')}}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{path('famille_show', {'id':medicament.Famille.id})}}">{{medicament.Famille.NomFamille}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{medicament.NomCommercial}}</li>
            </ol>
        </nav>
        <div class="row" style="margin-bottom:1rem">
            <div class="col-9">
                <div class="card rounded">
                    <div class="card-body">
                        <p class="mb-0">Contre indication :</p>
                        <h3>{{medicament.ContreIndication}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card rounded">
                    <div class="card-body">
                        <p class="mb-0">Prix :</p>
                        <h1>{{medicament.PrixEchantillon}}€</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded">
            <div class="card-body">
                <p class="mb-0">Effets :</p>
                <h3>{{medicament.Effet}}</h3>
            </div>
        </div>
        <h2 class="display-5 text-center mt-5 mb-3">Les composants</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col" class="text-center">Composant</th>
					<th scope="col" class="text-center">Quantité</th>
				</tr>
			</thead>
			<tbody>
				{% for composer in medicament.lesComposers %}
					<tr>
						<td class="text-center">{{composer.composant.NomComposant}}</td>
						<td class="text-center">{{composer.quantite}}mg</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </div>
{% endblock %}
