{% extends 'base.html.twig' %}

{% block title %}
    {{medicament.NomCommercial}}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{path('famille_show', {'id':medicament.Famille.id})}}">{{medicament.Famille.NomFamille}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{medicament.NomCommercial}}</li>
            </ol>
        </nav>
        <div class="row" style="margin-bottom:1rem">
            <div class="col-9">
                <div class="card rounded shadow">
                    <div class="card-body">
                        <p class="mb-0">Contre indication :</p>
                        <h1>{{medicament.ContreIndication}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card rounded shadow">
                    <div class="card-body">
                        <p class="mb-0">Prix :</p>
                        <h1>{{medicament.PrixEchantillon}}€</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded shadow">
            <div class="card-body">
                <p class="mb-0">Effets :</p>
                <h1>{{medicament.Effet}}</h1>
            </div>
        </div>
    </div>
{% endblock %}
